html,
body,
#root {
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.Box {
  display: inline-block;
  border: 1px solid black;
  width: 15%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

.Error {
  color: red;
  margin-left: 25px;
  position: absolute;
}

form {
  width: 100%;
  text-align: left;
}

form > h2 {
  text-align: center;
}

form > input,
form > button {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

form > textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}
